<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.project.treasurepleasure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
	     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

<!--     <uses-feature -->
<!--         android:glEsVersion="0x00020000" -->
<!--         android:required="true" > -->
<!--     </uses-feature> -->

    <application
        android:name="android.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinGameActivity"
            android:label="@string/title_activity_join_game" >
        </activity>
        <activity
            android:name=".AddGameActivity"
            android:label="@string/title_activity_add_game" >
        </activity>
        <activity
            android:name="org.project.garbage.UploadFileActivity"
            android:label="@string/title_activity_upload_file" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.project.treasurepleasure.MainActivity" />
        </activity>
        <activity
            android:name=".AddGameActivity2"
            android:label="@string/title_activity_add_game_activity2" >
        </activity>
        <activity
            android:name=".AddTreasure"
            android:label="@string/title_activity_add_treasure" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCeIdAj1ruOuX5We6jdDnw9yEd4wEdY4oc" />
    </application>

</manifest>